<form action="" method="post" class="form-horizontal">
	{{#error}}
		<div class="alert alert-block alert-error">
			<button class="close" data-dismiss="alert" type="button">&times;</button>
			<h4 class="alert-heading">Erreur</h4>
			<p>Une erreur est survenue lors du traitement de la requ&ecirc;te : {{error}}.</p>
		</div>
	{{/error}}

	<input type="hidden" name="route-app" value="frontend">

	<div class="control-group">
		<label class="control-label" for="route-url">Masque de l'URL</label>
		<div class="controls">
			<input type="text" name="route-url" id="route-url" value="{{#route}}{{url}}{{/route}}" placeholder="Masque de l'URL" class="input-xxlarge" required><span class="help-block">Ceci est le masque, sous forme de regex, qui doit correspondre à l'URL de la page cible.</span>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="route-module">Module</label>
		<div class="controls">
			<input type="text" name="route-module" id="route-module" value="{{#route}}{{module}}{{/route}}" placeholder="Module" required>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="route-action">Action</label>
		<div class="controls">
			<input type="text" name="route-action" id="route-action" value="{{#route}}{{action}}{{/route}}" placeholder="Action" required>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="route-vars">Variables de l'URL</label>
		<div class="controls">
			<input type="text" name="route-vars" id="route-vars" value="{{routeVarsList}}" placeholder="Variables de l'URL" class="input-xxlarge"><span class="help-block">Séparez les variables par une virgule. La première variable correspondra à la valeur de la première parenthèse capturante dans le masque, la seconde variable à la seconde parenthèse capturante, etc.</span>
		</div>
	</div>

	<div class="form-actions">
		<button type="submit" class="btn btn-primary">Valider</button>
		<a class="btn" href="module-routes.html">Annuler</a>
	</div>
</form>