<form action="" method="post" class="form-horizontal">
	{{#error}}
		<div class="alert alert-block alert-error">
			<button class="close" data-dismiss="alert" type="button">&times;</button>
			<h4 class="alert-heading">Erreur</h4>
			<p>Une erreur est survenue lors du traitement de la requ&ecirc;te : {{error}}.</p>
		</div>
	{{/error}}

	<div class="control-group">
		<label class="control-label" for="aboutLink-title">Titre</label>
		<div class="controls">
			<input type="text" name="aboutLink-title" id="aboutLink-title" value="{{aboutLink.title}}" placeholder="Titre" required>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="aboutLink-url">URL</label>
		<div class="controls">
			<input type="url" name="aboutLink-url" id="aboutLink-url" value="{{aboutLink.url}}" placeholder="URL" class="input-xxlarge" required>
		</div>
	</div>

	<div class="form-actions">
		<button type="submit" class="btn btn-primary">Valider</button>
		<a class="btn" href="module-portfolio.html">Annuler</a>
	</div>
</form>